{% extends "base.html" %}
{% block content %}
    About Page
    <p>Hi! My name is Collin Fogerty. A little about me is that I am in my second semester of a masters in Cyber
        Security
        and Privacy. I hope to graduate at the end of this spring semester and then go into the real world. I also play
        on
        the lacrosse team here at NJIT. I have played for 5 years and made some of my best friends. This class has
        already
        taught me so many hands on tools I think are really useful and I hope to learn more. Thank you!


    </p>

<p>
FEEDBACK FROM PROJECT 1:
<br>
Feedback:<br>
1. Footer has to be at the bottom of the page in About page<br>
2. Please change the content of the footer to make it more specific with your website.<br>
3. Content pages do not conform to F-layout<br>
Suggestion: Add images on the right column of the F-layout to make the webpage more attractive to the user<br>
</p>{% endblock %}