{% extends "base.html" %}
{% block content %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Python / Flask</h1>
            <p class="lead my-3"> Python is a programming language with an emphasize of easy of access and
                readability.</p>
            <p class="lead my-3"> Flask is a framework for a web site that is written in Python. </p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Links</strong>
                    <h3 class="mb-0">On Github</h3>
                    <p class="fs-5"><a href="https://github.com/collinf14/Project1">https://github.com/collinf14/Project1</a>
                    </p>
                    <h3 class="mb-0">Flask Website Page</h3>
                    <p class="fs-5"><a href="https://flask.palletsprojects.com/en/2.0.x/">https://flask.palletsprojects.com/en/2.0.x/</a>
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">More Links</strong>
                    <h3 class="mb-0">Flask Blueprint</h3>
                    <p class="fs-5"><a href="https://flask.palletsprojects.com/en/2.0.x/blueprints/">https://flask.palletsprojects.com/en/2.0.x/blueprints/</a>
                    </p>
                    <h3 class="mb-0">Flask Testing with PyTest</h3>
                    <p class="fs-5"><a href="https://flask.palletsprojects.com/en/2.0.x/testing/">https://flask.palletsprojects.com/en/2.0.x/testing/</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                Testing with PyTest and Simple Pages
            </h3>

            <article class="blog-post">
                <h2 class="blog-post-title">March 7, 2022 by Collin Fogerty</h2>

                <p>
                    Testing with PyTest is a utility provided by Flask which allows for a user to confirm that certain
                    words or phrases are in and working with their source code. This is valuable when a project has a
                    lot of folders and code that could get hard to confirm everything is there. A line like this
                    "content = bytes(test_string, 'utf-8')" will test that the environment is utf-8 and it checked that
                    by making sure utf-8 is printed in the code.
                </p>
                <p>
                    Simple Pages were created using parts of templates from the BootStrap v.5. These are the pages that
                    model the actual user interface of the website. These are tested in two ways. First there is a test
                    that makes sure the page itself is named correctly. Secondly there is a test that checks that the
                    content in the webpage matches the expected content based off the web page name.
                </p>
                <br></br>
                <p>
                    <u>Project Outline</u>
                </p>
                <p>
                <ul class="list-unstyled">
                    <ul>
                        <li>Project Root Folder
                            <ul>
                                <li>.github
                                    <ul>
                                        <li>workflows</li>
                                        <ul>
                                            <li>dev.yml <- ran pytest and deployed Heruko</li>
                                            <li>prod.yml <- ran pytest, deployed container, and connected with Docker Hub</li>
                                        </ul>

                                    </ul>
                                </li>

                                <li>app
                                    <ul>
                                        <li>context_processors
                                            <ul>
                                                <li>__init__.py <- set up for pytest</li>
                                            </ul>
                                        </li>
                                        <li>simple_pages
                                            <ul>
                                                <li>templates
                                                    <ul>
                                                        <li>about.html <- html for home page</li>
                                                        <li>index.html <- html for index page</li>
                                                        <li>page1.html <- html for git page</li>
                                                        <li>page2.html <- html for docker page</li>
                                                        <li>page3.html <- html for python/flask page</li>
                                                        <li>page4.html <- html for CI/Cd page</li>
                                                    </ul>
                                                <li>__init__.py <- set up for pytest</li>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>static
                                            <ul>
                                                <li>css
                                                    <ul>
                                                        <li>style.css <- held the css styles used</li>
                                                    </ul>
                                                </li>
                                                <li>images
                                                    <ul>
                                                        <li>cicd.png <- image for CI/CD on carousel</li>
                                                        <li>docker2.png <- image for docker on carousel</li>
                                                        <li>git-icon2.png <- image for git on carousel</li>
                                                        <li>pyhton.png <- image for python on carousel</li>
                                                    </ul>
                                                </li>
                                                <li>js
                                                    <ul>
                                                        <li>scripts.js <- held the scripts used</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>templates
                                            <ul>
                                                <li>base.html <- base templates used for header and footer on all pages</li>
                                            </ul>
                                        </li>
                                        <li>__init__.py <- set up for pytest</li>
                                        <li>run.py <- set up for pytest</li>
                                    </ul>
                                </li>
                                <li>calculator
                                    <ul>
                                        <li>__init__.py <- set up for pytest</li>
                                    </ul>
                                </li>
                                <li>tests
                                    <ul>
                                        <li>__input__.py <- set up for pytest</li>
                                        <li>calculator_test.py <- tests on calculator</li>
                                        <li>conftest.py <- test for configuration, includes making the app, http client, and task runner</li>
                                        <li>context_process_test.py <- tests the context processes, including environment and copyright on footer</li>
                                        <li>simple_pages_test.py <- tests the navigation bar and contents on simple pages</li>
                                    </ul>
                                </li>
                                <li>.coveragerc <- controls the pytests</li>
                                <li>.dockerignore <- helps with git and docker connection</li>
                                <li>.gitignore <- helps with git connection</li>
                                <li>.pylintrc <- helps with pytests config</li>
                                <li>docker-compose.yml <- runs docker compose and build</li>
                                <li>Dockerfile <- creates app on docker container</li>
                                <li>heroku.yml <- connects docker and heruko</li>
                                <li>pytest.ini <- sets up pytests</li>
                                <li>readme.md <- the readme file for set up of project</li>
                                <li>requirements.txt <- shows requirements</li>
                                <li>setup.py <- set up for pytest</li>

                            </ul>

                    </ul>
                </ul>

                </p>


            </article>
        </div>
    </div>
{% endblock %}