{% extends "base.html" %}
{% block content %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Python / Flask</h1>
            <p class="lead my-3"> Python is a programming language with an emphasize of easy of access and
                readability.</p>
            <p class="lead my-3"> Flask is a framework for a web site that is written in Python. </p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Links</strong>
                    <h3 class="mb-0">On Github</h3>
                    <p class="fs-5"><a href="https://github.com/collinf14/Project1">https://github.com/collinf14/Project1</a>
                    </p>
                    <h3 class="mb-0">Flask Website Page</h3>
                    <p class="fs-5"><a href="https://flask.palletsprojects.com/en/2.0.x/">https://flask.palletsprojects.com/en/2.0.x/</a>
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">More Links</strong>
                    <h3 class="mb-0">Flask Blueprint</h3>
                    <p class="fs-5"><a href="https://flask.palletsprojects.com/en/2.0.x/blueprints/">https://flask.palletsprojects.com/en/2.0.x/blueprints/</a>
                    </p>
                    <h3 class="mb-0">Flask Testing with PyTest</h3>
                    <p class="fs-5"><a href="https://flask.palletsprojects.com/en/2.0.x/testing/">https://flask.palletsprojects.com/en/2.0.x/testing/</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                Testing with PyTest and Simple Pages
            </h3>

            <article class="blog-post">
                <h2 class="blog-post-title">March 7, 2022 by Collin Fogerty</h2>

                <p>
                    Testing with PyTest is a utility provided by Flask which allows for a user to confirm that certain
                    words or phrases are in and working with their source code. This is valuable when a project has a
                    lot of folders and code that could get hard to confirm everything is there. A line like this
                    "content = bytes(test_string, 'utf-8')" will test that the environment is utf-8 and it checked that
                    by making sure utf-8 is printed in the code.
                </p>
                <p>
                    Simple Pages were created using parts of templates from the BootStrap v.5. These are the pages that
                    model the actual user interface of the website. These are tested in two ways. First there is a test
                    that makes sure the page itself is named correctly. Secondly there is a test that checks that the
                    content in the webpage matches the expected content based off the web page name.
                </p>
                <br></br>
                <p>
                    <u>Project Outline</u>
                </p>
                <p>
                <ul class="list-unstyled">
                    <ul>
                        <li>Project Root Folder
                            <ul>
                                <li>.github
                                    <ul>
                                        <li>workflows</li>
                                        <ul>
                                            <li>dev.yml</li>
                                            <li>heroku</li>
                                        </ul>

                                    </ul>
                                </li>

                                <li>app
                                    <ul>
                                        <li>context_processors
                                            <ul>
                                                <li>__init__.py</li>
                                            </ul>
                                        </li>
                                        <li>simple_pages
                                            <ul>
                                                <li>templates
                                                    <ul>
                                                        <li>about.html</li>
                                                        <li>index.html</li>
                                                        <li>page1.html</li>
                                                        <li>page2.html</li>
                                                        <li>page3.html</li>
                                                        <li>page4.html</li>
                                                    </ul>
                                                <li>__init__.py</li>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>static
                                            <ul>
                                                <li>css
                                                    <ul>
                                                        <li>style.css</li>
                                                    </ul>
                                                </li>
                                                <li>images
                                                    <ul>
                                                        <li>cicd.png</li>
                                                        <li>docker2.png</li>
                                                        <li>git-icon2.png</li>
                                                        <li>pyhton.png</li>
                                                    </ul>
                                                </li>
                                                <li>js
                                                    <ul>
                                                        <li>scripts.js</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>templates
                                            <ul>
                                                <li>base.html</li>
                                            </ul>
                                        </li>
                                        <li>__init__.py</li>
                                        <li>run.py</li>
                                    </ul>
                                </li>
                                <li>calculator
                                    <ul>
                                        <li>__init__.py</li>
                                    </ul>
                                </li>
                                <li>tests
                                    <ul>
                                        <li>__input__.py</li>
                                        <li>calculator_test.py</li>
                                        <li>conftest.py</li>
                                        <li>context_process_test.py</li>
                                        <li>simple_pages_test.py</li>
                                    </ul>
                                </li>
                                <li>.coveragerc</li>
                                <li>.dockerignore</li>
                                <li>.gitignore</li>
                                <li>.pylintrc</li>
                                <li>docker-compose.yml</li>
                                <li>Dockerfile</li>
                                <li>heroku.yml</li>
                                <li>pytest.ini</li>
                                <li>readme.md</li>
                                <li>requirements.txt</li>
                                <li>setup.py</li>

                            </ul>

                    </ul>
                </ul>

                </p>


            </article>
        </div>
    </div>
{% endblock %}