{% extends "base.html" %}
{% block content %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Object Oriented Programming</h1>
            <p class="lead my-3"> Object-oriented programming (OOP)
                is a computer programming model that is organized around objects, as the name suggests. It uses these
                objects to describe pretty much all if its actions. An object is a field holds data with
                unique attributes or behavior. This style of programming is best suited for large projects that needs
                to be constant updated and maintained. In order to get a grip on key terminology read below.
            </p>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                O.O.P. Terms
            </h3>

            <article class="blog-post">
                <h4 class="blog-post-title">March 28, 2022 by Collin Fogerty</h4>

                <p>
                <ul class="list-group list-group-numbered">

                    <li><span class="boldunder">instantiation</span> means to create a copy of a class in memory
                        (instance)
                    </li>
                    <li><span class="boldunder">objects</span> are instances of a class created with specifically
                        defined data
                    </li>
                    <li><span class="boldunder">class</span> is a user-defined data type that holds all of
                        it own objects, attributes and methods. Created by simply say class (classname). In this
                        calculator, there is 'class Addition' that is created as such.
                    </li>
                    <li><span class="boldunder">namespaces</span> are the structures (files and folders) that are used
                        to properly organize program. This calculator has a folder called calculator with a file in it
                        call __init__.py
                    </li>
                    <li><span class="boldunder">constructor</span> is the first method called of a class that sets up
                        data for objects
                    </li>
                    <li><span class="boldunder">fixture</span> allows for maintaining a proper testing environment
                    </li>
                    <li><span class="boldunder">type hint</span> means to providing hints to a function so tat it
                        will accept the wanted data type, normally used force a function to accept the desired
                        data type
                    </li>
                    <li><span class="boldunder">type cast</span>
                        means to change or cast over an object so that it is a different data type than before, this is
                        normally used to make sure it will work with other variables
                    </li>
                    <li><span class="boldunder">unit test</span> is what the file used for testing are called. In this
                        calculator, there are many unit tests used in AAA Testing format. They are all the files that end
                        with _test.py
                    </li>
                    <li><span class="boldunder">static</span> means that the variable or method is available at the
                        class level. In other words, one doesn't need to create an instance of the class to access it
                    </li>
                    <li><span class="boldunder">instance method</span> is a function within a class that works on the
                        data inside itself and can only be called after an object if its class is instantiated. Example
                        in this calculator is the get_result() method that needs the calculator object to be
                        instantiated beforehand.
                    </li>
                    <li><span class="boldunder">instance property</span> a variable that is attached to the class that
                        can only be called after an object if its class is instantiated. that needs the calc1 object to
                        be instantiated beforehand.
                    </li>
                    <li><span class="boldunder">static method</span> is a function within a class that can be called
                        without instantiating an object of its class. In this calculator, add, subtract, multiple, and
                        divide are all static methods as they can be called anywhere without creating an object of their
                        respective classes. Marked as @staticmethod.
                    </li>
                    <li><span class="boldunder">static property</span> a variable that is attached to the class that can
                        be called without instantiating an object of its class. Almost like a global property. Example
                        in this calculator is the result property that can be called without
                    </li>
                    <li><span class="boldunder">encapsulation</span>
                        is a principle centered about keep necessary information in an object private only to that object. This
                        means that another object is not able to access or use the methods or properties that are
                        encapsulated in another object.
                    </li>
                    <li><span class="boldunder">inheritance</span> means that classes can reuse code from other classes.
                        An inherited class will gain the properties and methods of the class it is inheriting from. The
                        relationship can be understood just as a child inherits the features of their parent. A 'child'
                        class will inherit the methods and properties of their 'parent' class.
                    </li>
                    <li><span class="boldunder">ploymorphism</span> means that one should design their code so objects
                        are designated to have some of the same actions (methods or properties). This is because objects
                        needs to be able to calculate their characteristics in the same way but uniquely for each
                        object. Without this property, each object would have to check itself each and everytime it tried to
                        use a method which would not be satisfactory.
                    </li>
                    <li><span class="boldunder">abstraction</span> means that objects only other objects to access the
                        high level mechanisms that would be necessary for another object. The implementation code that
                        makes some actions should stay private as it is not necessary for another objects use of a
                        mechanism and would only slow down the process.
                    </li>
                    <li><span class="boldunder">Overview of SOLID</span>
                        <ul class="list-unstyled">
                            S.O.L.I.D. is the acronym used for the first 5 principles of object orientated programming:
                            Single-responsibility Principle, Open-closed Principle, Liskov Substitution Principle,
                            Interface Segregation Principle, and Dependency Inversion Principle. Single-responsibility
                            Principle (SRP) states: A class should have one and only 1 job. In this calculator,
                            the only thing the Addition class does is add its giving numbers.
                            Open-closed Principle (OCP) states: Objects
                            should be open for extension but closed for modification. Liskov Substitution Principle
                            states the relationship between a parent and child should be substitutable.
                            Interface segregation principle
                            states: A class should only do a single action. Dependency inversion
                            principle states: functions can all each other.

                        </ul>
                    </li>
                    <li><span class="boldunder">Overview of Design Patterns</span>
                        <ul class="list-unstyled">
                            Design Patterns is the framework for how Object Oriented Programming should be laid out, and
                            it includes the solutions for whatever problems in the coding design may occur.
                            Design patterns are industry standard so that everyone using this language of programming
                            understands that this is the way problems are to solved and how the code is to be laid out.
                            This is so that code in any language can be shared amongst industry peers and subsequently
                            learned and understood in an easy, efficient
                            fashion.
                            There are 3 types of Design Patterns: Creational, Structural, and Behavioral. Creational
                            concerns the way objects and classes were created (example: factory method 'create'). Structural
                            concerns the composition of classes and objects (example: decorator). Behavioural characterizes the ways in which
                            classes or objects interact and distribute responsibility (example: memento).

                        </ul>
                    </li>
                </ul>
                </p>
                Special thanks to <i>techtarget.com, microsoft.com, techopedia.com, edureka.co, javatpoint.com,
                educba.com,
                illinois.edu, stackoverflow.com, wikepedia.com, digitalocean.com, and medium.com </i> for their help in
                creating this article
            </article>
        </div>
        <div class="col-md-4">
            <span class="position-sticky" style="top: 2rem;">

                <img src="../static/images/oop.png" class="d-block w-100" alt="..." height=250>
                <div class="piccap">
                    Courtesy of semaphoreci.com
                </div>
                <br>
                <br>

                <img src="../static/images/oop2.png" class="d-block w-100" alt="..." height=300>
                <div class="piccap">
                    Courtesy of opsani.com
                </div>
                <br>
                <br>

                <img src="../static/images/dp.png" class="d-block w-100" alt="..." height=350>
                <div class="piccap">
                    Courtesy of packtpub.com
                </div>
            </span>
        </div>
    </div>
{% endblock %}