{% extends "base.html" %}
{% block content %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Arrange-Act-Assert Testing</h1>
            <p class="lead my-3"> Continuous Integration and Continuous Deployment is the practice of running a program
                fully while editing the source code. CI/CD allows for testing and experimentation as a developer is
                going through the process of a building a project. It is also used to get apps to consumers as quickly
                as possible and allow for changes based on the consumers wants and needs as it is seen fit.</p>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                Demonstration
            </h3>

            <article class="blog-post">
                <h4 class="blog-post-title">March 28, 2022 by Collin Fogerty</h4>

                <p>
                    This project was set up and continuous integrated and deployed primarily through GitHub, DockerHub,
                    and Heroku. Through GitHub, this project ran on a main base branch and then had plenty
                    of other branches to push changes to when the contents of the source code was updated. The method
                    of PyTest through a workflows was triggered to check before merging a pull request. This allowed for
                    errors to be noticed and corrections to be made before truly affecting the main branch. Deploying
                    master to a production server came when the pull requests were fully authorized and the branches
                    were merged into the main branch. Time after time the side branches were checked and pulled together
                    into the main branch in order to create the final product.
                </p>
                <p>
                    When the main branch was actually updated, this triggered a deployment to Dockerhub so that the
                    container image was also updated. This was also done through one of the workflows check as it
                    allowed for connection to Docker Hub in the source code.
                </p>
                <br>
                <br>
                <br>

                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                Why is it important?
            </h3>
                <p>
                    hhwwhwhwhwhwih
                </p>


            </article>
        </div>
     <div class="col-md-4">
            <span class="position-sticky" style="top: 2rem;">

                <img src="../static/images/cicdex2.png" class="d-block w-100" alt="..." height=250>
                <div class="piccap">
                    Courtesy of semaphoreci.com
                </div>
                <br>
                <br>

                <img src="../static/images/cicdex.png" class="d-block w-100" alt="..." height=250>
                <div class="piccap">
                    Courtesy of opsani.com
                </div>
            </span>
        </div>
    </div>
{% endblock %}